//- --------------------------------------------------------------------------------------------------------------------
//- Anki-Cards | Copyright (C) 2018 eth-p
//- --------------------------------------------------------------------------------------------------------------------

- function field(name) {
-     return `{{${name}}}`;
- }

mixin if-field-exists(field)
	= `\n{{#${field}}}\n`
	block
	= `\n{{/${field}}}\n`

mixin if-field-empty(field)
	= `\n{{^${field}}}\n`
	block
	= `\n{{/${field}}}\n`

mixin subsection(name)
	hr
	h2= `${name}:`
	block

mixin details(name)
	+subsection(name)
		div.paragraph
			block

mixin card(options)
	header
		layout-columns
			layout-column.header-deck
				span.field= field('Deck')
			if options && options.header
				layout-column.header-misc
					| #{options.header}
			layout-column.header-type
				span.field= field('Type')
	main
		block
