//- --------------------------------------------------------------------------------------------------------------------
//- Anki-Cards | Copyright (C) 2018 eth-p
//- --------------------------------------------------------------------------------------------------------------------

- function field(name) {
-     return `{{${name}}}`;
- }

mixin if-field-exists(field)
	= `\n{{#${field}}}\n`
	block
	= `\n{{/${field}}}\n`

mixin if-field-empty(field)
	= `\n{{^${field}}}\n`
	block
	= `\n{{/${field}}}\n`

mixin card
	header
		layout-columns
			layout-column.deck
				span.field= field('Deck')
			layout-column.type
				span.field= field('Type')
	main
		block
